/*
#CEE5F2
#ACCBE1
#7C98B3
#637081
#536B78
 */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #CEE5F2;
}

header {
    height: 100vh;
}

.myApp {
    width: 90vw;
    margin: 0 auto;
}

.geoMap {
    width: 90vw;
    margin: 2vh auto;
    height: 80vh;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.marker {
    width: 30px;
    height: 30px;
}

.markerContainer {
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    padding: 3px;
}

.controls {
    background: #536B78;
    /*width: 400px;*/
    margin: 2vh auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.controlForm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.formInput {
    font-size: 16px;
    padding: 2px;
}

.infoCardContainer {
    background: #7C98B3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: 2vh auto;
    height: 100vh;
    overflow-y: scroll;
}

.infoCard {
    background: #ACCBE1;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 20px;
}

.softShadow {
    -webkit-box-shadow: 0 0 30px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 30px 2px rgba(0,0,0,0.75);
    box-shadow: 0 0 30px 2px rgba(0,0,0,0.75);
}